<div id="search-component">
  <label for="search-box">Searching Post</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" type="search" />
  <ul class="search-result">
    <li *ngFor="let post of posts$ | async">
      <a routerLink="/post/detail/{{post.id}}">{{ post.name }}</a>
    </li>
  </ul>


</div>
