<div class="container-fluid mt-4 ml-2 mr-2 mb-3">
  <div class="row g-2">
    <div class="col-md-9">
      <h2>Random Post Today</h2>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-warning m-0"
        title=" reload post"
        (click)="refresh()"
        style="border-radius: 10px"
      >
        Refresh
      </button>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="spinner === true">
    <div class="spinner-border text-primary text-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div *ngIf="notPosts === false">
  <div class="container-fluid mt-4 ml-2 mr-2 mb-3">
    <div *ngFor="let post of posts">
      <div
        class="card mt-3"
        style="
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          overflow: hidden;
          border-radius: 10px;
        "
      >
        <div class="card-body pt-2 pl-2 m-0">
          <div class="row g-3">
            <div class="col-md-2">
              <img
                src="../../../assets/avatar.png"
                alt="avatar"
                width="60%"
                style="
                  border-radius: 360%;
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                "
              />
            </div>
            <div class="col-md-10">
              <label
                for="new-post"
                class="form-label"
                style="font-size: 18px"
                >{{ post.name }}</label
              >
              <p style="font-size: 12px; color: #7a8489">
                <a routerLink="/post/detail/{{ post.name }}"
                  >@{{ post.name }}</a
                >
              </p>
              <p style="font-size: 15px">{{ post.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
