<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col-md-12 my-3">
      <div
        class="card"
        style="
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          overflow: hidden;
          border-radius: 15px;
        "
      >
        <div class="card-body">
          <form [formGroup]="formValue" class="row g-3">
            <div class="col-md-2">
              <img
                src="../../../assets/avatar.png"
                alt="avatar"
                width="100%"
                style="
                  border-radius: 360%;
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                "
              />
            </div>
            <div class="col-md-10">
              <label for="new-post" class="form-label" style="font-size: 14px">Username</label>
              <input type="text" class="form-control" id="edit-post" formControlName="name">
              <label for="new-desc" class="form-label" style="font-size: 14px">Description</label>
              <input type="text" class="form-control" id="edit-post" placeholder="What's Happening"
                formControlName="description" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="container">
                <div class="my-3">
                  <div class="col-md-3 my-3">
                    <div
                      style="
                        border: 1px solid #c8c8c8;
                        border-radius: 20px;
                        display: flex;
                        padding: 0px;
                        justify-content: space-evenly;
                        align-items: center;
                        position: relative;
                        height: 5vh;
                        cursor: pointer;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          top: -7px;
                          left: 20px;
                          display: flex;
                          align-items: center;
                        "
                      >
                        <img
                          src="https://cdn-icons-png.flaticon.com/512/1040/1040241.png"
                          alt="icon"
                          width="20%"
                          height="20%"
                        />
                        <p
                          class="pt-2"
                          style="font-size: 14px; padding-left: 6px"
                        >
                          Photos
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 my-3">
                    <div
                      style="
                        border: 1px solid #c8c8c8;
                        border-radius: 20px;
                        display: flex;
                        padding: 0px;
                        justify-content: space-evenly;
                        align-items: center;
                        position: relative;
                        height: 5vh;
                        cursor: pointer;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          top: -7px;
                          left: 20px;
                          display: flex;
                          align-items: center;
                        "
                      >
                        <img
                          src="https://cdn-icons-png.flaticon.com/512/2972/2972128.png"
                          alt="icon"
                          width="20%"
                          height="20%"
                        />
                        <p
                          class="pt-2"
                          style="font-size: 14px; padding-left: 6px"
                        >
                          Videos
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button type="button" class="edit btn btn-primary" style="width: 100%; border-radius: 10px;"
                title="edit post" (click)="save()">Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
