<nav class="navbar bg-primary navbar-expand-lg navbar-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Friendular</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        (click)="onButtonGroupClick($event)"
      >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post">Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
