<div class="container my-5 py-5">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <img id="imagePageNotFound" src="../../assets/404.svg" alt="404 img" />
    </div>
    <div class="col-sm-7">
      <h3>404 - Page Not Found!</h3>
      <p>
        The page you are looking for might have been removed had it's name
        changed or is temporarily unavailable
      </p>
      <a href="/home" class="btn btn-primary">Back To Home</a>
    </div>
  </div>
</div>
