<div class="container bg-light p-5 text-center">
  <div class="row">
    <div class="col-sm order-2 order-lg-2">
      <h1>Welcome to Friendular!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <hr class="my-3" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus
        justo non mattis maximus. Etiam dictum laoreet eleifend. Nulla nulla
        dui, euismod vitae aliquet non, luctus sit amet dui.
      </p>
    </div>
    <div class="col-sm order-1 order-lg-2">
      <img
        src="../../../assets/home_img.svg"
        alt="Home image"
        style="width: 60%"
      />
    </div>
  </div>
</div>
