<app-post-search></app-post-search>

<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col-md-2 my-3">
      <div class="card" style="
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          overflow: hidden;
          border-radius: 15px;
        ">
        <div class="card-body p-0 m-0" style="position: relative">
          <div style="height: 15vh; background-color: #c8c8c8">
            <img src="../../../assets/bg-avatar.png" alt="bg-avatar" width="100%" style="object-fit: cover" />
          </div>
          <div>
            <img src="../../../assets/avatar.png" alt="avatar" width="60%"
              style="position: absolute; top: 0; margin: 20px 30px 20px 30px" />
          </div>
        </div>
        <div style="text-align: center">
          <h6 class="mt-5">Dimas Lutfiyanto</h6>
          <p style="font-size: 13px; color: #a0b4b7">@dimdim</p>
        </div>
      </div>
    </div>

    <div class="col-md-7 my-3">
      <!-- ADD POST -->
      <div class="card" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px">
        <div class="card-body">
          <form [formGroup]="formValue" class="row g-3">
            <div class="col-md-2">
              <img src="../../../assets/avatar.png" alt="avatar" width="100%" style="
                  border-radius: 360%;
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                " />
            </div>
            <div class="col-md-10">
              <div class="mb-3">
                <label for="new-post" class="form-label" style="font-size: 14px"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="new-post"
                  formControlName="name"
                />
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="What's Happening"
                  id="floatingTextarea2"
                  style="height: 100px"
                  formControlName="description"
                ></textarea>
                <label for="floatingTextarea2">Description</label>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="container">
                <div class="my-3">
                  <div class="col-md-3 my-3">
                    <div style="
                        border: 1px solid #c8c8c8;
                        border-radius: 20px;
                        display: flex;
                        padding: 0px;
                        justify-content: space-evenly;
                        align-items: center;
                        position: relative;
                        height: 5vh;
                        cursor: pointer;
                      ">
                      <div style="
                          position: absolute;
                          top: -7px;
                          left: 20px;
                          display: flex;
                          align-items: center;
                        ">
                        <img src="https://cdn-icons-png.flaticon.com/512/1040/1040241.png" alt="icon" width="20%"
                          height="20%" />
                        <p class="pt-2" style="font-size: 14px; padding-left: 6px">
                          Photos
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 my-3">
                    <div style="
                        border: 1px solid #c8c8c8;
                        border-radius: 20px;
                        display: flex;
                        padding: 0px;
                        justify-content: space-evenly;
                        align-items: center;
                        position: relative;
                        height: 5vh;
                        cursor: pointer;
                      ">
                      <div style="
                          position: absolute;
                          top: -7px;
                          left: 20px;
                          display: flex;
                          align-items: center;
                        ">
                        <img src="https://cdn-icons-png.flaticon.com/512/2972/2972128.png" alt="icon" width="20%"
                          height="20%" />
                        <p class="pt-2" style="font-size: 14px; padding-left: 6px">
                          Videos
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button type="button" class="btn btn-primary mt-1" style="width: 100%; border-radius: 10px" (click)="
                AddPost();
                ">
                Post
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- SPINNER -->
      <div class="d-flex justify-content-center my-3">
        <div *ngIf="spinner === true">
          <div class="spinner-border text-primary text-center" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>

      <!-- THERE IS NOT POST YET -->
      <div *ngIf="notPosts === true">
        <p class="text-center">We're sorry. There is not post yet</p>
      </div>

      <!-- LIST POSTS -->
      <div *ngIf="notPosts === false">
        <div *ngFor="let post of posts">
          <div class="card mt-3" style="border-radius: 10px">
            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-2">
                  <img
                    src="../../../assets/avatar.png"
                    alt="avatar"
                    width="100%"
                    style="
                      border-radius: 360%;
                      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    "
                  />
                </div>
                <div class="col-md-9">
                  <label
                    for="new-post"
                    class="form-label"
                    style="font-size: 14px"
                    >{{ post.name }}</label
                  >
                  <p style="font-size: 13px; color: #7a8489">
                    @{{ post.name }}
                  </p>
                  <p style="font-size: 13px">{{ post.description }}</p>
                </div>

                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-lg"></div>
                    <div class="col">
                      <div class="row">
                        <div class="col p-1">
                          <a
                            class="btn btn-primary"
                            routerLink="/post/detail/{{ post.id }}"
                            style="width: 100%; border-radius: 10px"
                          >
                            Detail
                          </a>
                        </div>
                        <div class="col p-1">
                          <button
                            type="button"
                            class="btn btn-warning m-0"
                            title=" delete post"
                            (click)="DeletePost(post)"
                            style="width: 100%; border-radius: 10px"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List Popular -->
    <div class="col-md-3 my-3">
      <div class="card">
        <div class="card-body">
          <div>
            <p>Random Post Today</p>
          </div>

          <div class="card">
            <div *ngFor="let item of popular" style="margin-bottom: 3px; margin-top: 1px; font-size: 14px">
              <a class="p-2" routerLink="/post/detail/{{ item.id }}">{{
                item.name
                }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
