<div class="container" style="width: 550px;">
  <div style="text-align: center; color: blue;">
    <h3><b>User Registration Form</b></h3>
  </div>

  <!-- <article *ngIf="errorMsg" class="error-message">
    <strong>{{errorMsg}}</strong>
    <strong (click)="closeErrorMsg()"></strong>
  </article> -->

  <div class="row">
    <div class="card" style="border-radius: 10px;
    border: 2px solid #dfd9d9;">
      <div>
      </div>
      <div class="card-body" style="position: relative;">
        <!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="">
          <strong>Success!</strong> Your data has been entered successfully.
          <button (click)="closeErrorMsg()" type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->

        <form [formGroup]="loginForm">
          <!--[formGroup]="formValue"-->

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email here.."
              formControlName="email"> <!-- ngModel -->
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"
              placeholder="Enter password here.." formControlName="password">
          </div>
          <br>
          <button type="button" class="btn btn-primary" (click)="LoginUser()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
