<div class="container-fluid bg-primary text-light text-center py-5">
  <p class="m-0">Friendular</p>
  <p class="mt-0">All right reserved.</p>
  <p>Created By:</p>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-end">
        <p class="m-0">Ananda Ilham Muhammad Fauzy</p>
        <p class="m-0">Farand Farhansyah</p>
      </div>
      <div class="col text-start">
        <p class="m-0">Ihsan Adi Pratama</p>
        <p class="m-0">Muh Dimas Lutfiyanto</p>
      </div>
    </div>
  </div>
</div>
